.hero-main {
    display: grid;
    grid-template-columns: 493px 166px 136px 542px;
    grid-template-rows: 298px 84px 232px 493px;
 }

.about-us {
    display: flex;
    justify-content: space-between;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-direction: column;
}

.subscribe {
    display: flex;
    justify-content: space-between;
}

.site-footer {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}